.content {
    margin-top: 30px;
    min-height: 400px;
    text-align: center;
    width: 100%;
    margin-bottom: 30px;
}

.narrowDiv {
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
}

.interactive {
    background-color: #f5f5f5;
    border-radius: 10px;
}

.interactive:hover {
    background-color: #e4e4e4;
}

.listItem, .confirmation {
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 30px;
}

.listItem {
    text-align: left;
}

.form {
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.btn {
    border: 1px solid #930909;
    color: #555555;
    background-color: #ffffff;
}

.btn:hover {
    background-color: #930909;
    color: #eeeeee;
}

.goBackDiv {
    text-align: left;
    margin-bottom: 30px;
}

.error {
    color: #930909;
}

.contentTitle {
    text-align: left;
}

.importantText {
    color: #930909;
    font-weight: 700;
}

/* Spinner */
.sk-spinner {
    transform: scale(2);
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
  }

/* RWD */
@media (min-width: 1030px) {
    .container {
        max-width: 1030px;
    }
}