.details {
    text-align: left;
}

.coffeeDetails {
    float: left;
    width: 50%;
    padding: 20px;
}

.coffeeImage {
    float: left;
    width: 50%;
}

/* RWD */
@media (max-width: 767px) {
    .coffeeDetails {
        width: 100%;
    }
    .coffeeImage {
        width: 100%;
    }
}