.coffee {
    display: inline-block;
    width: 230px;
    margin: 10px;
    padding: 10px;
    text-align: center;
}

.img-fluid {
    margin-bottom: 10px;
}

@media only screen and (max-width: 270px) {
    .coffee {
        margin-left: 0;
        margin-right: 0;
        width: 100%;
    }
}