.navbar {
    background-color: #930909;
    border-radius: 0 0 20px 20px;
}

.navbar-brand:hover {
    opacity: 0.7;
}

.nav-link {
    color: #eeeeee;
}

.nav-link:hover {
    color: #eeeeee;
    opacity: 0.7;
}